In [187]:
import pandas as pd
import numpy as np

#### Import Data

In [278]:
raw_use_of_force = pd.read_csv("./../use-of-force.csv")

In [279]:
raw_use_of_force

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,18412-2238-14470,18412,Level 1 - Use of Force,2017-11-28T01:40:00,NaN,-,NaN,2238,14470,Black or African American,Female
1,16162-1589-12833,16162,Level 1 - Use of Force,2017-06-22T04:15:00,NaN,-,NaN,1589,12833,Black or African American,Male
2,15041-2017-12130,15041,Level 1 - Use of Force,2017-03-30T15:59:00,NaN,-,NaN,2017,12130,White,Male
3,29139-4759-15571,29139,Level 1 - Use of Force,2018-02-15T13:06:00,NaN,-,NaN,4759,15571,Black or African American,Male
4,30425-4745-16299,30425,Level 1 - Use of Force,2018-07-17T21:00:00,NaN,-,NaN,4745,16299,White,Female
5,30638-2146-17272,30638,Level 1 - Use of Force,2018-07-21T18:58:00,NaN,-,NaN,2146,17272,White,Male
6,18081-1852-14330,18081,Level 1 - Use of Force,2017-11-14T12:56:00,NaN,-,NaN,1852,14330,NaN,Female
7,15097-704-12153,15097,Level 1 - Use of Force,2017-04-03T10:30:00,NaN,-,NaN,704,12153,Black or African American,Female
8,14270-1578-11649,14270,Level 1 - Use of Force,2017-01-26T16:30:00,NaN,-,NaN,1578,11649,White,Male
9,15097-704-11880,15097,Level 1 - Use of Force,2017-04-03T10:30:00,NaN,-,NaN,704,11880,Black or African American,Male
10,29411-1655-16747,29411,Level 1 - Use of Force,2018-06-30T23:50:00,NaN,-,NaN,1655,16747,NaN,Male
11,18042-2300-14305,18042,Level 1 - Use of Force,2017-11-02T00:10:00,NaN,-,NaN,2300,14305,White,Male
12,17935-1777-14196,17935,Level 1 - Use of Force,2017-10-25T09:23:00,NaN,-,NaN,1777,14196,NaN,Male
13,16850-2237-7511,16850,Level 1 - Use of Force,2017-08-11T12:53:00,NaN,-,NaN,2237,7511,White,Male
14,29451-1602-17057,29451,Level 1 - Use of Force,2018-06-30T00:46:00,NaN,-,NaN,1602,17057,Black or African American,Male
15,18637-1239-14781,18637,Level 1 - Use of Force,2017-12-08T00:24:00,NaN,-,NaN,1239,14781,Black or African American,Male
16,14542-2216-4350,14542,Level 1 - Use of Force,2017-02-21T16:42:00,NaN,-,NaN,2216,4350,White,Male
17,11865-1741-4871,11865,Level 1 - Use of Force,2016-07-19T06:40:00,E,E,E1,1741,4871,Black or African American,Male
18,11898-1840-9082,11898,Level 1 - Use of Force,2016-07-21T16:12:00,E,C,C2,1840,9082,White,Female
19,10924-907-8357,10924,Level 2 - Use of Force,2016-05-01T18:00:00,W,K,K1,907,8357,NaN,NaN
20,10710-1065-2989,10710,Level 2 - Use of Force,2016-05-01T19:30:00,W,K,K1,1065,2989,White,Male
21,10702-615-8205,10702,Level 2 - Use of Force,2016-05-01T18:15:00,W,M,M2,615,8205,NaN,NaN
22,10701-709-8200,10701,Level 2 - Use of Force,2016-05-01T19:27:00,W,K,K1,709,8200,White,Male
23,10699-908-3576,10699,Level 2 - Use of Force,2016-05-01T19:30:00,W,K,K2,908,3576,NaN,Male
24,10685-685-8196,10685,Level 2 - Use of Force,2016-05-01T19:00:00,W,K,K2,685,8196,NaN,NaN
25,10684-897-121,10684,Level 2 - Use of Force,2016-05-01T19:30:00,W,K,K2,897,121,NaN,NaN
26,11237-1095-2275,11237,Level 2 - Use of Force,2016-05-01T19:00:00,W,M,M1,1095,2275,NaN,NaN
27,10751-1658-2463,10751,Level 2 - Use of Force,2016-05-01T19:41:00,W,K,K2,1658,2463,NaN,NaN
28,10726-1164-3576,10726,Level 2 - Use of Force,2016-05-01T19:00:00,W,K,K1,1164,3576,NaN,Male
29,10725-1239-3576,10725,Level 2 - Use of Force,2016-05-01T19:28:00,W,K,K1,1239,3576,NaN,Male
...,...,...,...,...,...,...,...,...,...,...,...
8031,26816-2372-16622,26816,Level 1 - Use of Force,2018-05-21T21:25:00,NaN,-,NaN,2372,16622,NaN,Female
8032,28610-2308-16904,28610,Level 1 - Use of Force,2018-06-18T05:00:00,NaN,-,NaN,2308,16904,NaN,Male
8033,25853-1640-14783,25853,Level 2 - Use of Force,2018-05-07T12:51:00,NaN,-,NaN,1640,14783,Black or African American,Male
8034,26310-1820-3460,26310,Level 2 - Use of Force,2018-05-14T15:07:00,NaN,-,NaN,1820,3460,American Indian/Alaska Native,Male
8035,26319-2191-3460,26319,Level 2 - Use of Force,2018-05-14T15:05:00,NaN,-,NaN,2191,3460,American Indian/Alaska Native,Male
8036,27765-2374-16768,27765,Level 1 - Use of Force,2018-06-05T20:20:00,NaN,-,NaN,2374,16768,Asian,Male
8037,27647-1865-12237,27647,Level 1 - Use of Force,2018-06-05T03:10:00,NaN,-,NaN,1865,12237,Black or African American,Male
8038,27718-612-16759,27718,Level 1 - Use of Force,2018-06-04T17:53:00,NaN,-,NaN,612,16759,White,Male
8039,30522-2471-7729,30522,Level 1 - Use of Force,2018-07-19T10:45:00,NaN,-,NaN,2471,7729,White,Female
8040,29814-2146-13071,29814,Level 1 - Use of Force,2018-07-07T11:41:00,NaN,-,NaN,2146,13071,White,Male
8041,31066-1750-17352,31066,Level 1 - Use of Force,2018-07-28T20:30:00,NaN,-,NaN,1750,17352,NaN,Male
8042,31450-612-17423,31450,Level 1 - Use of Force,2018-08-03T17:45:00,NaN,-,NaN,612,17423,Black or African American,Male
8043,31713-1868-17469,31713,Level 1 - Use of Force,2018-08-08T11:13:00,NaN,-,NaN,1868,17469,White,Male
8044,30930-2147-17322,30930,Level 1 - Use of Force,2018-07-25T17:35:00,NaN,-,NaN,2147,17322,White,Male
8045,30928-1061-11573,30928,Level 1 - Use of Force,2018-07-26T12:05:00,NaN,-,NaN,1061,11573,White,Female
8046,30934-200-11573,30934,Level 1 - Use of Force,2018-07-26T12:11:00,NaN,-,NaN,200,11573,White,Female
8047,31494-1874-6416,31494,Level 1 - Use of Force,2018-08-04T22:21:00,NaN,-,NaN,1874,6416,Black or African American,Male
8048,31474-1226-17433,31474,Level 1 - Use of Force,2018-08-04T07:36:00,NaN,-,NaN,1226,17433,White,Male
8049,31466-4860-17428,31466,Level 1 - Use of Force,2018-08-04T04:36:00,NaN,-,NaN,4860,17428,White,Male
8050,31429-2160-10577,31429,Level 1 - Use of Force,2018-08-03T08:20:00,NaN,-,NaN,2160,10577,White,Male
8051,31506-1861-17443,31506,Level 1 - Use of Force,2018-08-05T10:54:00,NaN,-,NaN,1861,17443,White,Male
8052,31380-1583-17408,31380,Level 1 - Use of Force,2018-08-02T11:51:00,NaN,-,NaN,1583,17408,Asian,Female
8053,31326-1836-17282,31326,Level 1 - Use of Force,2018-08-01T12:33:00,NaN,-,NaN,1836,17282,NaN,Female
8054,30962-1725-17333,30962,Level 1 - Use of Force,2018-07-27T02:55:00,NaN,-,NaN,1725,17333,White,Female
8055,31201-2153-17374,31201,Level 1 - Use of Force,2018-07-30T22:30:00,NaN,-,NaN,2153,17374,NaN,Female
8056,31379-1261-17409,31379,Level 1 - Use of Force,2018-08-02T10:55:00,NaN,-,NaN,1261,17409,Black or African American,Male
8057,31434-1067-17417,31434,Level 1 - Use of Force,2018-08-02T18:35:00,NaN,-,NaN,1067,17417,NaN,Male
8058,31581-2323-17456,31581,Level 1 - Use of Force,2018-08-06T19:10:00,NaN,-,NaN,2323,17456,Black or African American,Male
8059,31784-2455-16869,31784,Level 1 - Use of Force,2018-08-09T15:00:00,NaN,-,NaN,2455,16869,White,Male
8060,31805-2312-17085,31805,Level 1 - Use of Force,2018-08-10T02:58:00,NaN,-,NaN,2312,17085,White,Male

#### Data Cleaning

###### 1 - Substituir o sinal "-" pelo "nan" que tem um melhor desempenho para computar valores faltosos

In [280]:
raw_use_of_force.loc[raw_use_of_force.Sector == '-', 'Sector'] = np.nan

###### 2 - Converter do campo de data do tipo string para o tipo datetime

In [281]:
raw_use_of_force['Occured_date_time'] = pd.to_datetime(raw_use_of_force['Occured_date_time'])

###### 3 - Analisando os dados percebemos que delegacia S tem dados do setor U, mas o setor U pertence apenas a delegacia N, vamos então alterar o valor da delegacia de S para N para este setor.

In [282]:
raw_use_of_force.loc[(raw_use_of_force['Sector'] == 'U') & (raw_use_of_force['Precinct'] == 'S'),
                                        'Precinct'] = 'N'

###### 4 - Também é possível perceber que existe uma delagacia sobresalente (X), esta delagacia não é mencionada pelo departamento de Seattle, então vamos excluí-la.

In [283]:
raw_use_of_force = raw_use_of_force[raw_use_of_force['Precinct'] != 'X']

In [284]:
raw_use_of_force.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7718 entries, 0 to 8060
Data columns (total 11 columns):
ID                   7718 non-null object
Incident_Num         7718 non-null int64
Incident_Type        7718 non-null object
Occured_date_time    7718 non-null datetime64[ns]
Precinct             7111 non-null object
Sector               7111 non-null object
Beat                 7111 non-null object
Officer_ID           7718 non-null int64
Subject_ID           7718 non-null int64
Subject_Race         6456 non-null object
Subject_Gender       7533 non-null object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 723.6+ KB

###### 1. Como é a distribuição do uso de força dentre as delegacias e os setores? Em cada setor, qual o *beat* com maior número de incidentes? Apresente também o ranking dos setores segundo o percentual de incidentes "Level 2" em relação ao total de incidentes do respectivo setor.

###### Uso da força por delegacia

In [195]:
precinct_groupby = raw_use_of_force.groupby('Precinct').count()

In [196]:
precinct_groupby

,ID,Incident_Num,Incident_Type,Occured_date_time,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
Precinct,,,,,,,,,,
E,1434,1434,1434,1434,1434,1434,1434,1434,1150,1376
N,1836,1836,1836,1836,1836,1836,1836,1836,1627,1812
S,1346,1346,1346,1346,1346,1346,1346,1346,1110,1343
SW,480,480,480,480,480,480,480,480,419,475
W,2015,2015,2015,2015,2015,2015,2015,2015,1679,1923

######  Uso da força por setor

In [197]:
sector_groupby = raw_use_of_force.groupby(['Precinct', 'Sector']).count()

In [198]:
sector_groupby

                  ID  Incident_Num  Incident_Type  Occured_date_time  Beat  \
Precinct Sector
E        C       196           196            196                196   196
         E       818           818            818                818   818
         G       420           420            420                420   420
N        B       280           280            280                280   280
         J       282           282            282                282   282
         L       364           364            364                364   364
         N       537           537            537                537   537
         U       373           373            373                373   373
S        O       256           256            256                256   256
         R       514           514            514                514   514
         S       576           576            576                576   576
SW       F       293           293            293                293   293
         W       187           187            187                187   187
W        D       530           530            530                530   530
         K       782           782            782                782   782
         M       496           496            496                496   496
         Q       207           207            207                207   207

                 Officer_ID  Subject_ID  Subject_Race  Subject_Gender
Precinct Sector
E        C              196         196           148             194
         E              818         818           642             762
         G              420         420           360             420
N        B              280         280           249             280
         J              282         282           262             282
         L              364         364           333             356
         N              537         537           467             532
         U              373         373           316             362
S        O              256         256           217             255
         R              514         514           419             513
         S              576         576           474             575
SW       F              293         293           249             288
         W              187         187           170             187
W        D              530         530           403             482
         K              782         782           670             767
         M              496         496           416             473
         Q              207         207           190             201

###### Uso da força por beat

In [199]:
beat_groupby = raw_use_of_force.groupby(['Precinct', 'Sector', 'Beat']).count()

In [200]:
beat_groupby

                       ID  Incident_Num  Incident_Type  Occured_date_time  \
Precinct Sector Beat
E        C      C1     70            70             70                 70
                C2     52            52             52                 52
                C3     74            74             74                 74
         E      E1    208           208            208                208
                E2    469           469            469                469
                E3    141           141            141                141
         G      G1    130           130            130                130
                G2    129           129            129                129
                G3    161           161            161                161
N        B      B1    115           115            115                115
                B2     87            87             87                 87
                B3     78            78             78                 78
         J      J1    117           117            117                117
                J2     69            69             69                 69
                J3     96            96             96                 96
         L      L1    120           120            120                120
                L2    148           148            148                148
                L3     96            96             96                 96
         N      N1     85            85             85                 85
                N2    186           186            186                186
                N3    266           266            266                266
         U      U1    125           125            125                125
                U2    150           150            150                150
                U3     98            98             98                 98
S        O      O1    125           125            125                125
                O2     50            50             50                 50
                O3     81            81             81                 81
         R      R1    160           160            160                160
                R2    234           234            234                234
                R3    120           120            120                120
         S      S1    238           238            238                238
                S2    172           172            172                172
                S3    166           166            166                166
SW       F      F1     75            75             75                 75
                F2    118           118            118                118
                F3    100           100            100                100
         W      W1     79            79             79                 79
                W2     34            34             34                 34
                W3     74            74             74                 74
W        D      D1    169           169            169                169
                D2    234           234            234                234
                D3    127           127            127                127
         K      K1    238           238            238                238
                K2    297           297            297                297
                K3    247           247            247                247
         M      M1    153           153            153                153
                M2    163           163            163                163
                M3    180           180            180                180
         Q      Q1     50            50             50                 50
                Q2     82            82             82                 82
                Q3     75            75             75                 75

                      Officer_ID  Subject_ID  Subject_Race  Subject_Gender
Precinct Sector Beat
E        C      C1            70          70            51              69
                C2            52          52            44              52
                C3            74          74            53              73
         E      E1           208         208           154             188
                E2           469         469           389             441
                E3           141         141            99             133
         G      G1           130         130           105             130
                G2           129         129           109             129
                G3           161         161           146             161
N        B      B1           115         115           100             115
                B2            87          87            84              87
                B3            78          78            65              78
         J      J1           117         117           109             117
                J2            69          69            61              69
                J3            96          96            92              96
         L      L1           120         120           109             118
                L2           148         148           136             144
                L3            96          96            88              94
         N      N1            85          85            70              84
                N2           186         186           172             186
                N3           266         266           225             262
         U      U1           125         125            99             123
                U2           150         150           127             143
                U3            98          98            90              96
S        O      O1           125         125           104             125
                O2            50          50            47              50
                O3            81          81            66              80
         R      R1           160         160           118             159
                R2           234         234           199             234
                R3           120         120           102             120
         S      S1           238         238           202             238
                S2           172         172           136             171
                S3           166         166           136             166
SW       F      F1            75          75            65              75
                F2           118         118           101             117
                F3           100         100            83              96
         W      W1            79          79            72              79
                W2            34          34            30              34
                W3            74          74            68              74
W        D      D1           169         169           137             169
                D2           234         234           161             189
                D3           127         127           105             124
         K      K1           238         238           198             231
                K2           297         297           248             289
                K3           247         247           224             247
         M      M1           153         153           129             143
                M2           163         163           138             154
                M3           180         180           149             176
         Q      Q1            50          50            46              49
                Q2            82          82            74              78
                Q3            75          75            70              74

###### Rank Setor

In [201]:
sector_incident_type = raw_use_of_force.groupby(['Precinct', 'Sector', 'Incident_Type'])['Incident_Num'].count()

In [202]:
sector_incidente_percent = sector_incident_type.groupby(level=1).apply(lambda x: x * 100/ x.sum())

In [203]:
sector_incidente_percent.reset_index()

   Precinct Sector           Incident_Type  Incident_Num
0         E      C  Level 1 - Use of Force     80.102041
1         E      C  Level 2 - Use of Force     19.897959
2         E      E  Level 1 - Use of Force     68.948655
3         E      E  Level 2 - Use of Force     31.051345
4         E      G  Level 1 - Use of Force     69.285714
5         E      G  Level 2 - Use of Force     30.714286
6         N      B  Level 1 - Use of Force     66.785714
7         N      B  Level 2 - Use of Force     33.214286
8         N      J  Level 1 - Use of Force     86.170213
9         N      J  Level 2 - Use of Force     13.829787
10        N      L  Level 1 - Use of Force     80.219780
11        N      L  Level 2 - Use of Force     19.780220
12        N      N  Level 1 - Use of Force     85.661080
13        N      N  Level 2 - Use of Force     14.338920
14        N      U  Level 1 - Use of Force     77.747989
15        N      U  Level 2 - Use of Force     22.252011
16        S      O  Level 1 - Use of Force     81.250000
17        S      O  Level 2 - Use of Force     18.750000
18        S      R  Level 1 - Use of Force     78.793774
19        S      R  Level 2 - Use of Force     21.206226
20        S      S  Level 1 - Use of Force     82.638889
21        S      S  Level 2 - Use of Force     17.361111
22       SW      F  Level 1 - Use of Force     78.498294
23       SW      F  Level 2 - Use of Force     21.501706
24       SW      W  Level 1 - Use of Force     85.561497
25       SW      W  Level 2 - Use of Force     14.438503
26        W      D  Level 1 - Use of Force     66.792453
27        W      D  Level 2 - Use of Force     33.207547
28        W      K  Level 1 - Use of Force     71.739130
29        W      K  Level 2 - Use of Force     28.260870
30        W      M  Level 1 - Use of Force     60.483871
31        W      M  Level 2 - Use of Force     39.516129
32        W      Q  Level 1 - Use of Force     81.642512
33        W      Q  Level 2 - Use of Force     18.357488

##### 2. Com relação à distribuição dos incidentes no tempo, é possível encontrar picos ou linhas de tendência dentro dos dias, dos meses, das semanas ou dos anos?

In [204]:
raw_use_of_force.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7718 entries, 0 to 8060
Data columns (total 11 columns):
ID                   7718 non-null object
Incident_Num         7718 non-null int64
Incident_Type        7718 non-null object
Occured_date_time    7718 non-null datetime64[ns]
Precinct             7111 non-null object
Sector               7111 non-null object
Beat                 7111 non-null object
Officer_ID           7718 non-null int64
Subject_ID           7718 non-null int64
Subject_Race         6456 non-null object
Subject_Gender       7533 non-null object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 723.6+ KB

###### Incidentes por dia

In [302]:
incident_date_day = raw_use_of_force.copy()

In [303]:
incident_date_day['date'] = pd.to_datetime(incident_date_day['Occured_date_time']).dt.to_period('D')

In [304]:
incident_date_day = incident_date_day.groupby(['date']).count()

In [305]:
incident_date_day = incident_date_day[['Incident_Num']]

In [306]:
incident_date_day

            Incident_Num
date
2014-01-27             1
2014-02-25             1
2014-03-13             6
2014-03-20             2
2014-04-01             1
2014-04-02            10
2014-04-03            11
2014-04-04             8
2014-04-05            14
2014-04-06            11
2014-04-08             8
2014-04-09             8
2014-04-10            10
2014-04-11             2
2014-04-12             2
2014-04-13             2
2014-04-14            21
2014-04-15             4
2014-04-16             4
2014-04-18            18
2014-04-19            30
2014-04-20             2
2014-04-21             6
2014-04-22             2
2014-04-23             1
2014-04-24             3
2014-04-25             3
2014-04-26            17
2014-04-27             8
2014-04-28             9
...                  ...
2018-07-11             4
2018-07-12             2
2018-07-13             3
2018-07-14             5
2018-07-15             5
2018-07-16             8
2018-07-17             7
2018-07-18             1
2018-07-19             2
2018-07-21            13
2018-07-22             3
2018-07-23             3
2018-07-24             2
2018-07-25             6
2018-07-26             8
2018-07-27             7
2018-07-28             6
2018-07-29             3
2018-07-30             6
2018-07-31             7
2018-08-01             1
2018-08-02             6
2018-08-03             4
2018-08-04             5
2018-08-05             3
2018-08-06             2
2018-08-07             1
2018-08-08             1
2018-08-09             1
2018-08-10             4

[1479 rows x 1 columns]

###### Incidentes por ano-mês

In [298]:
incident_date_year_month = raw_use_of_force.copy()

In [299]:
incident_date_year_month['year_month'] = incident_date_year_month['Occured_date_time'].dt.to_period('M')

In [296]:
incident_date_year_month

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,18412-2238-14470,18412,Level 1 - Use of Force,2017-11-28 01:40:00,NaN,NaN,NaN,2238,14470,Black or African American,Female
1,16162-1589-12833,16162,Level 1 - Use of Force,2017-06-22 04:15:00,NaN,NaN,NaN,1589,12833,Black or African American,Male
2,15041-2017-12130,15041,Level 1 - Use of Force,2017-03-30 15:59:00,NaN,NaN,NaN,2017,12130,White,Male
3,29139-4759-15571,29139,Level 1 - Use of Force,2018-02-15 13:06:00,NaN,NaN,NaN,4759,15571,Black or African American,Male
4,30425-4745-16299,30425,Level 1 - Use of Force,2018-07-17 21:00:00,NaN,NaN,NaN,4745,16299,White,Female
5,30638-2146-17272,30638,Level 1 - Use of Force,2018-07-21 18:58:00,NaN,NaN,NaN,2146,17272,White,Male
6,18081-1852-14330,18081,Level 1 - Use of Force,2017-11-14 12:56:00,NaN,NaN,NaN,1852,14330,NaN,Female
7,15097-704-12153,15097,Level 1 - Use of Force,2017-04-03 10:30:00,NaN,NaN,NaN,704,12153,Black or African American,Female
8,14270-1578-11649,14270,Level 1 - Use of Force,2017-01-26 16:30:00,NaN,NaN,NaN,1578,11649,White,Male
9,15097-704-11880,15097,Level 1 - Use of Force,2017-04-03 10:30:00,NaN,NaN,NaN,704,11880,Black or African American,Male
10,29411-1655-16747,29411,Level 1 - Use of Force,2018-06-30 23:50:00,NaN,NaN,NaN,1655,16747,NaN,Male
11,18042-2300-14305,18042,Level 1 - Use of Force,2017-11-02 00:10:00,NaN,NaN,NaN,2300,14305,White,Male
12,17935-1777-14196,17935,Level 1 - Use of Force,2017-10-25 09:23:00,NaN,NaN,NaN,1777,14196,NaN,Male
13,16850-2237-7511,16850,Level 1 - Use of Force,2017-08-11 12:53:00,NaN,NaN,NaN,2237,7511,White,Male
14,29451-1602-17057,29451,Level 1 - Use of Force,2018-06-30 00:46:00,NaN,NaN,NaN,1602,17057,Black or African American,Male
15,18637-1239-14781,18637,Level 1 - Use of Force,2017-12-08 00:24:00,NaN,NaN,NaN,1239,14781,Black or African American,Male
16,14542-2216-4350,14542,Level 1 - Use of Force,2017-02-21 16:42:00,NaN,NaN,NaN,2216,4350,White,Male
17,11865-1741-4871,11865,Level 1 - Use of Force,2016-07-19 06:40:00,E,E,E1,1741,4871,Black or African American,Male
18,11898-1840-9082,11898,Level 1 - Use of Force,2016-07-21 16:12:00,E,C,C2,1840,9082,White,Female
19,10924-907-8357,10924,Level 2 - Use of Force,2016-05-01 18:00:00,W,K,K1,907,8357,NaN,NaN
20,10710-1065-2989,10710,Level 2 - Use of Force,2016-05-01 19:30:00,W,K,K1,1065,2989,White,Male
21,10702-615-8205,10702,Level 2 - Use of Force,2016-05-01 18:15:00,W,M,M2,615,8205,NaN,NaN
22,10701-709-8200,10701,Level 2 - Use of Force,2016-05-01 19:27:00,W,K,K1,709,8200,White,Male
23,10699-908-3576,10699,Level 2 - Use of Force,2016-05-01 19:30:00,W,K,K2,908,3576,NaN,Male
24,10685-685-8196,10685,Level 2 - Use of Force,2016-05-01 19:00:00,W,K,K2,685,8196,NaN,NaN
25,10684-897-121,10684,Level 2 - Use of Force,2016-05-01 19:30:00,W,K,K2,897,121,NaN,NaN
26,11237-1095-2275,11237,Level 2 - Use of Force,2016-05-01 19:00:00,W,M,M1,1095,2275,NaN,NaN
27,10751-1658-2463,10751,Level 2 - Use of Force,2016-05-01 19:41:00,W,K,K2,1658,2463,NaN,NaN
28,10726-1164-3576,10726,Level 2 - Use of Force,2016-05-01 19:00:00,W,K,K1,1164,3576,NaN,Male
29,10725-1239-3576,10725,Level 2 - Use of Force,2016-05-01 19:28:00,W,K,K1,1239,3576,NaN,Male
...,...,...,...,...,...,...,...,...,...,...,...
8031,26816-2372-16622,26816,Level 1 - Use of Force,2018-05-21 21:25:00,NaN,NaN,NaN,2372,16622,NaN,Female
8032,28610-2308-16904,28610,Level 1 - Use of Force,2018-06-18 05:00:00,NaN,NaN,NaN,2308,16904,NaN,Male
8033,25853-1640-14783,25853,Level 2 - Use of Force,2018-05-07 12:51:00,NaN,NaN,NaN,1640,14783,Black or African American,Male
8034,26310-1820-3460,26310,Level 2 - Use of Force,2018-05-14 15:07:00,NaN,NaN,NaN,1820,3460,American Indian/Alaska Native,Male
8035,26319-2191-3460,26319,Level 2 - Use of Force,2018-05-14 15:05:00,NaN,NaN,NaN,2191,3460,American Indian/Alaska Native,Male
8036,27765-2374-16768,27765,Level 1 - Use of Force,2018-06-05 20:20:00,NaN,NaN,NaN,2374,16768,Asian,Male
8037,27647-1865-12237,27647,Level 1 - Use of Force,2018-06-05 03:10:00,NaN,NaN,NaN,1865,12237,Black or African American,Male
8038,27718-612-16759,27718,Level 1 - Use of Force,2018-06-04 17:53:00,NaN,NaN,NaN,612,16759,White,Male
8039,30522-2471-7729,30522,Level 1 - Use of Force,2018-07-19 10:45:00,NaN,NaN,NaN,2471,7729,White,Female
8040,29814-2146-13071,29814,Level 1 - Use of Force,2018-07-07 11:41:00,NaN,NaN,NaN,2146,13071,White,Male
8041,31066-1750-17352,31066,Level 1 - Use of Force,2018-07-28 20:30:00,NaN,NaN,NaN,1750,17352,NaN,Male
8042,31450-612-17423,31450,Level 1 - Use of Force,2018-08-03 17:45:00,NaN,NaN,NaN,612,17423,Black or African American,Male
8043,31713-1868-17469,31713,Level 1 - Use of Force,2018-08-08 11:13:00,NaN,NaN,NaN,1868,17469,White,Male
8044,30930-2147-17322,30930,Level 1 - Use of Force,2018-07-25 17:35:00,NaN,NaN,NaN,2147,17322,White,Male
8045,30928-1061-11573,30928,Level 1 - Use of Force,2018-07-26 12:05:00,NaN,NaN,NaN,1061,11573,White,Female
8046,30934-200-11573,30934,Level 1 - Use of Force,2018-07-26 12:11:00,NaN,NaN,NaN,200,11573,White,Female
8047,31494-1874-6416,31494,Level 1 - Use of Force,2018-08-04 22:21:00,NaN,NaN,NaN,1874,6416,Black or African American,Male
8048,31474-1226-17433,31474,Level 1 - Use of Force,2018-08-04 07:36:00,NaN,NaN,NaN,1226,17433,White,Male
8049,31466-4860-17428,31466,Level 1 - Use of Force,2018-08-04 04:36:00,NaN,NaN,NaN,4860,17428,White,Male
8050,31429-2160-10577,31429,Level 1 - Use of Force,2018-08-03 08:20:00,NaN,NaN,NaN,2160,10577,White,Male
8051,31506-1861-17443,31506,Level 1 - Use of Force,2018-08-05 10:54:00,NaN,NaN,NaN,1861,17443,White,Male
8052,31380-1583-17408,31380,Level 1 - Use of Force,2018-08-02 11:51:00,NaN,NaN,NaN,1583,17408,Asian,Female
8053,31326-1836-17282,31326,Level 1 - Use of Force,2018-08-01 12:33:00,NaN,NaN,NaN,1836,17282,NaN,Female
8054,30962-1725-17333,30962,Level 1 - Use of Force,2018-07-27 02:55:00,NaN,NaN,NaN,1725,17333,White,Female
8055,31201-2153-17374,31201,Level 1 - Use of Force,2018-07-30 22:30:00,NaN,NaN,NaN,2153,17374,NaN,Female
8056,31379-1261-17409,31379,Level 1 - Use of Force,2018-08-02 10:55:00,NaN,NaN,NaN,1261,17409,Black or African American,Male
8057,31434-1067-17417,31434,Level 1 - Use of Force,2018-08-02 18:35:00,NaN,NaN,NaN,1067,17417,NaN,Male
8058,31581-2323-17456,31581,Level 1 - Use of Force,2018-08-06 19:10:00,NaN,NaN,NaN,2323,17456,Black or African American,Male
8059,31784-2455-16869,31784,Level 1 - Use of Force,2018-08-09 15:00:00,NaN,NaN,NaN,2455,16869,White,Male
8060,31805-2312-17085,31805,Level 1 - Use of Force,2018-08-10 02:58:00,NaN,NaN,NaN,2312,17085,White,Male

In [213]:
incident_date_year_month = incident_date_year_month.groupby(['year_month']).count()

In [307]:
incident_date_year_month = incident_date_year_month[['Incident_Num']]

In [308]:
incident_date_year_month

      Incident_Num
0            18412
1            16162
2            15041
3            29139
4            30425
5            30638
6            18081
7            15097
8            14270
9            15097
10           29411
11           18042
12           17935
13           16850
14           29451
15           18637
16           14542
17           11865
18           11898
19           10924
20           10710
21           10702
22           10701
23           10699
24           10685
25           10684
26           11237
27           10751
28           10726
29           10725
...            ...
8031         26816
8032         28610
8033         25853
8034         26310
8035         26319
8036         27765
8037         27647
8038         27718
8039         30522
8040         29814
8041         31066
8042         31450
8043         31713
8044         30930
8045         30928
8046         30934
8047         31494
8048         31474
8049         31466
8050         31429
8051         31506
8052         31380
8053         31326
8054         30962
8055         31201
8056         31379
8057         31434
8058         31581
8059         31784
8060         31805

[7718 rows x 1 columns]

###### Incidentes por semana

In [300]:
incident_date_week = raw_use_of_force.copy()

In [301]:
incident_date_week['week'] = pd.to_datetime(incident_date_week['Occured_date_time']).dt.to_period('W')

In [219]:
incident_date_week = incident_date_week.groupby(['week']).count()

In [221]:
incident_date_week = incident_date_week[['Incident_Num']]

In [222]:
incident_date_week

                       count
week
2014-01-27/2014-02-02      1
2014-02-24/2014-03-02      1
2014-03-10/2014-03-16      6
2014-03-17/2014-03-23      2
2014-03-31/2014-04-06     55
2014-04-07/2014-04-13     32
2014-04-14/2014-04-20     79
2014-04-21/2014-04-27     40
2014-04-28/2014-05-04    127
2014-05-05/2014-05-11     25
2014-05-12/2014-05-18     50
2014-05-19/2014-05-25     48
2014-05-26/2014-06-01     31
2014-06-02/2014-06-08     33
2014-06-09/2014-06-15     46
2014-06-16/2014-06-22     47
2014-06-23/2014-06-29     42
2014-06-30/2014-07-06     25
2014-07-07/2014-07-13     35
2014-07-14/2014-07-20     60
2014-07-21/2014-07-27     40
2014-07-28/2014-08-03     43
2014-08-04/2014-08-10     33
2014-08-11/2014-08-17     38
2014-08-18/2014-08-24     26
2014-08-25/2014-08-31     48
2014-09-01/2014-09-07     23
2014-09-08/2014-09-14     30
2014-09-15/2014-09-21     34
2014-09-22/2014-09-28     57
...                      ...
2018-01-15/2018-01-21     27
2018-01-22/2018-01-28     33
2018-01-29/2018-02-04     46
2018-02-05/2018-02-11     59
2018-02-12/2018-02-18     19
2018-02-19/2018-02-25     36
2018-02-26/2018-03-04     35
2018-03-05/2018-03-11     26
2018-03-12/2018-03-18     35
2018-03-19/2018-03-25     44
2018-03-26/2018-04-01     45
2018-04-02/2018-04-08     38
2018-04-09/2018-04-15     41
2018-04-16/2018-04-22     23
2018-04-23/2018-04-29     37
2018-04-30/2018-05-06     54
2018-05-07/2018-05-13     42
2018-05-14/2018-05-20     44
2018-05-21/2018-05-27     50
2018-05-28/2018-06-03     31
2018-06-04/2018-06-10     54
2018-06-11/2018-06-17     30
2018-06-18/2018-06-24     29
2018-06-25/2018-07-01     46
2018-07-02/2018-07-08     30
2018-07-09/2018-07-15     24
2018-07-16/2018-07-22     34
2018-07-23/2018-07-29     35
2018-07-30/2018-08-05     32
2018-08-06/2018-08-12      9

[232 rows x 1 columns]

###### Incidentes por ano

In [315]:
incident_date_year = raw_use_of_force.copy()

In [316]:
incident_date_year['year'] = pd.to_datetime(incident_date_year['Occured_date_time']).dt.to_period('Y')

In [317]:
incident_date_year = incident_date_year.groupby(['year']).count()

In [318]:
incident_date_year = incident_date_year[['Incident_Num']]

In [319]:
incident_date_year

      Incident_Num
year
2014          1615
2015          1940
2016          1477
2017          1526
2018          1160

##### 3. A polícia deseja dar início a uma investigação interna para verificar se existem policiais excessivamente violentos. No entanto, o prazo para o término desta investigação é bastante limitado. Elabore um script capaz de elencar os policiais em ordem decrescente de chance de violência excessiva com base no número de incidentes dos quais eles participaram.

In [229]:
incident_office = raw_use_of_force.groupby(['Officer_ID'])['Incident_Num'].count()

In [230]:
incident_office = incident_office.reset_index()

In [231]:
incident_office['percentage'] = incident_office['Incident_Num']/incident_office['Incident_Num'].sum()

In [232]:
incident_office.sort_values(by='percentage', ascending=False)

      Officer_ID  Incident_Num  percentage
81           456            74    0.009588
609         1697            45    0.005831
484         1559            44    0.005701
715         1807            41    0.005312
661         1750            41    0.005312
684         1775            40    0.005183
123          612            39    0.005053
422         1239            37    0.004794
646         1735            37    0.004794
701         1792            36    0.004664
682         1773            36    0.004664
487         1562            34    0.004405
795         1899            31    0.004017
678         1769            31    0.004017
532         1611            31    0.004017
248          898            30    0.003887
576         1658            29    0.003757
525         1602            29    0.003757
527         1604            29    0.003757
552         1634            29    0.003757
596         1682            29    0.003757
330         1108            28    0.003628
698         1789            28    0.003628
506         1582            28    0.003628
583         1665            28    0.003628
723         1815            27    0.003498
726         1818            27    0.003498
461         1473            26    0.003369
539         1618            26    0.003369
523         1600            26    0.003369
...          ...           ...         ...
221          833             1    0.000130
213          815             1    0.000130
321         1095             1    0.000130
210          798             1    0.000130
207          793             1    0.000130
203          784             1    0.000130
192          764             1    0.000130
189          757             1    0.000130
187          754             1    0.000130
186          753             1    0.000130
238          878             1    0.000130
243          889             1    0.000130
244          892             1    0.000130
245          895             1    0.000130
320         1093             1    0.000130
319         1091             1    0.000130
312         1082             1    0.000130
310         1080             1    0.000130
309         1078             1    0.000130
305         1070             1    0.000130
300         1060             1    0.000130
295         1052             1    0.000130
292         1048             1    0.000130
277          960             1    0.000130
270          940             1    0.000130
264          928             1    0.000130
260          920             1    0.000130
252          906             1    0.000130
249          899             1    0.000130
1052        4883             1    0.000130

[1053 rows x 3 columns]

###### 4. Uma métrica interessante para a polícia é o grau de reincidência por parte dos civis. Apresente o percentual de casos reincidentes em relação ao total de incidentes em cada setor e verifique se há correlação entre esta métrica e o percentual de incidentes "Level 2" calculado na questão 1. Que interpretação pode ser dada a este resultado?

In [334]:
incident_sector_subject = raw_use_of_force.groupby(['Precinct', 'Sector', 'Subject_ID']).count()

In [335]:
incident_sector_subject = incident_sector_subject[['Incident_Num']]

In [336]:
repeat_incident = incident_sector_subject[incident_sector_subject['Incident_Num'] >= 2]

In [337]:
repeat_incident = repeat_incident.groupby(['Precinct', 'Sector'])['Incident_Num'].count().reset_index()

In [338]:
repeat_incident

   Precinct Sector  Incident_Num
0         E      C            38
1         E      E           161
2         E      G            96
3         N      B            59
4         N      J            60
5         N      L            84
6         N      N            94
7         N      U            78
8         S      O            51
9         S      R            88
10        S      S           106
11       SW      F            57
12       SW      W            45
13        W      D            96
14        W      K           156
15        W      M           105
16        W      Q            41

In [341]:
single_incident = incident_sector_subject[incident_sector_subject['Incident_Num'] == 1]

In [342]:
single_incident = single_incident.groupby(['Precinct', 'Sector'])['Incident_Num'].count().reset_index()